
.flexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flexItem1 {
    flex-grow: 1;
}

.flexItem2 {
    flex-grow: 1;
    
}


.cardDetails {
    margin: 30px 5px 5px 30px;
}

.cardGrow {
   width: 200px;
   height: 180px;
   max-height:200px;
}

.title {
    font-size: 3rem;
    margin-top: 10px;
}

.subTitle {
    font-size: 1.8rem;
    font-weight: bold;
}

.deathColor {
    color: red;
}

.recoveredColor {
    color: #70A800;
}